<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Registrar doação</title>
</head>
<body>
     <div class="container">
        <h1>Registrar Doação</h1>

        <form action="{{ url_for('register_donate') }}" method="POST">
            <label for="item">Item:</label>
            <input type="text" id="item" name="item" placeholder="Nome do item" required>

            <label for="quantidade">Quantidade:</label>
            <input type="number" id="quantidade" name="quantidade" placeholder="Quantidade de itens" min="1" required>

            <label for="tipo">Categoria:</label>
            <select id="tipo" name="tipo" required>
                <option value="">Selecione</option>
                <option value="Roupas">Roupas</option>
                <option value="Alimentos não perecíveis">Alimentos não perecíveis</option>
                <option value="Alimentos perecíveis">Alimentos perecíveis</option>
                <option value="Brinquedos">Brinquedos</option>
                <option value="Higiene Pessoal">Higiene Pessoal</option>
                <option value="Material Escolar">Material Escolar</option>
                <option value="Calçados">Calçados</option>
                <option value="Utensílios Domésticos">Utensílios Domésticos</option>
                <option value="Livros">Livros</option>
                <option value="Outros">Outros</option>
            </select>

            <button type="submit">Salvar Doação</button>
        </form>

        <br>
        <a href="{{ url_for('home') }}"><button>Voltar</button></a>
    </div>
</body>
</html
